useDynLib("FLash")
import("FLCore")
importFrom("methods",
  "as", 
  "getSlots",
  "is", 
  "new", 
  "slot", 
  "slot<-",
  "validObject")
importFrom("stats",
  "df", 
  "mad")
export("SRchar2code")
exportClasses("fwdControl")
exportMethods(
  "harvest",
  "computeHarvest",
  "coerce",
  "fwd",
  "fwdControl",
  "+",
  "show",
  "setSR")
export(
  "CheckNor1",
  "flqCon",
  "flqVar")
